body{
    font-family:Ink Free ;
    background-color: #222831;

    text-align: center;    
}

.hrbody{
    border-color: rgb(112, 163, 99);
    width: 30%;
    border-style: dotted none none;
    border-width: 7px;
}

#headhr{
    border-color: rgb(204, 129, 24);

}

#music{
    background-image: url("https://media.giphy.com/media/gBO37K8rJwnxS/giphy.gif");
    border-top-right-radius:100px;
    border-top-left-radius:100px;
    border-bottom-right-radius:100px;
    border-bottom-left-radius:100px;
}
 .bunny{
    position: relative;
    width: 400px;
    height: 350px;
    left: 20px;
    top: 20px;
    padding: 16px;
 }

.aboutme{
    font-size: 30px;
    width: 400px;
    position: relative;
    padding: 16px;
}

.aboutt{
    text-align: center;
    margin: auto;
}


.c{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color:#393E46;
    font-size: 90px;

}

.h{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color:#393E46;

}

.s{
    font-size: 50px;   
    font-style: italic;
}

.ppic{
    margin-top: 15px;
    margin-left: 0px;
    padding-left: 0px;
    width: 30em;
}

.profilr{
    text-align: center;
    margin: auto;
    position: relative;
    
}

.pmargin{
    padding-left: 0px;
    padding-right: 20px;
}
.profile{
    text-align: center;
    margin: auto;
}

.project{
    margin: auto;
    text-align: center;
}

.table{
    border-style:none;
    border-spacing: 10px;
    border-collapse: separate;
    border-color: rgb(112, 163, 99);
    border-width: 9px;
    position: relative;
    text-align: center;
    margin: auto;
}

.space{
    padding-right: 0px;
}

.music{
    width: 520px;
}


.h:hover {
    color: rgb(247, 9, 9);
  }
  

.tc{
    margin: auto;
    text-align: center;
}

.con0{
    padding: 16px;
}
.con1{
    padding: 16px;
   
}

.con2{
    padding: 16px;

}
.con3{
    padding: 16px;

}

.forspace{
    padding-left: 16px;
    padding-right: 16px;
}

.div1{
    padding-bottom: 20px;
}

#contact{
    background-color: #EEEEEE;
    border-top-right-radius:400px;
    border-top-left-radius:400px;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
}

.info{
    font-family: Calibri,Candara,Segoe,Segoe UI,Optima,Arial,sans-serif;
}

.custom-div{
    background-color: #00ADB5;
    border-top-right-radius:0px;
    border-top-left-radius:400px;
    border-bottom-right-radius:400px;
    border-bottom-left-radius:00px;
}

.custom-div2{
    background-color: #EEEEEE;
    border-top-right-radius:400px;
    border-top-left-radius:0px;
    border-bottom-right-radius:0px;
    border-bottom-left-radius:400px;
}
