body{
    font-family:Ink Free ;
    background-color: #bdece0;

    text-align: center;    
}

.hrbody{
    border-color: rgb(112, 163, 99);
    width: 30%;
    border-style: dotted none none;
    border-width: 7px;
}

#headhr{
    border-color: rgb(204, 129, 24);

}
 .bunny{
    position: relative;
    width: 400px;
    height: 350px;
    left: 20px;
    top: 20px;
    padding: 16px;
 }

.aboutme{
    font-size: 30px;
    width: 400px;
    position: relative;
    padding: 16px;
}

.aboutt{
    text-align: center;
    margin: auto;
}


.c{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color:green;
    font-size: 90px;

}

.h{
    font-family:'Courier New', Courier, monospace;
    font-weight: bolder;
    color:green;

}

.s{
    font-size: 50px;   
    font-style: italic;
}

.ppic{
    margin-top: 0px;
    margin-left: 0px;
    padding-left: 0px;
    width: 30em;
}

.profilr{
    text-align: center;
    margin: auto;
    position: relative;
    
}

.pmargin{
    padding-left: 0px;
    padding-right: 20px;
}
.profile{
    text-align: center;
    margin: auto;
}

.project{
    margin: auto;
    text-align: center;
}

.table{
    border-style: dotted;
    border-spacing: 10px;
    border-collapse: separate;
    border-color: rgb(112, 163, 99);
    border-width: 9px;
    position: relative;
    text-align: center;
    margin: auto;
}

.space{
    padding-right: 300px;
}

.music{
    width: 520px;
}


.h:hover {
    color: rgb(247, 9, 9);
  }
  

.tc{
    margin: auto;
    text-align: center;
}

.con0{
    padding: 16px;
}
.con1{
    padding: 16px;
   
}

.con2{
    padding: 16px;

}
.con3{
    padding: 16px;

}

.forspace{
    padding-left: 16px;
    padding-right: 16px;
}

.div1{
    padding-bottom: 20px;
}
