/* Add a black background color to the top navigation */
.topnav{
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #37b306;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    font-weight: bolder;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgb(0, 0, 0);
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    color: rgb(255, 255, 255);
  }
  .topnav a.right{
    float: right;
    padding-top: 25px;
    padding-bottom: 0px;
    padding-right: 20px;
    }

.active{
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 10px;
}

    
